.id {
  margin-bottom: 0;
}

.solicitada {
  border-left: 5px solid #ffc107 !important;
}

.ready {
  border-left: 5px solid #0d6dfd !important;
}

.activa {
  border-left: 5px solid #198754 !important;
}

.expirada {
  border-left: 5px solid #db3826 !important;
}
